html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.sidebar-item:not(:last-child) {
	margin-bottom: 2em;
}

@media only screen and (max-width: 767px) {
	.sidebar-item {
		margin-bottom: 0 !important;
	}
}

.sidebar-item {
	color: gray;
}

.active {
	color: #fff;
}

.active-icon {
	color: #b57295 !important;
}
